<nav style="background-color:black; text-align:center;" class="col l12 s12">
  <div class="nav-wrapper">
    <a id="title" class="center-align">
      <a href="/">
        <img src="./images/logo.png" style="width:4%; margin-top:7px;">
      </a>
    </a>
  </div>
</nav>

<main>
  </br>
  </br>
  <div style="text-align:center" class="row description">
    <div class="col l12 s12">
      <h3 style="color:#dedada;"> Attach a Spotify Playlist to your Recipe</h3>
    </div>
  </div>
  <div class="search-wrapper container valign-wrapper">
    <form>
      <div class="row">
        <input style="color:white;" id="searchBarForm" type="text" placeholder="Paste a Recipe URL"></input>
        <input type="submit" class="btn red darken-4" id="submit"></input>
      </div>
    </form>
  </div>
</main>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">PLAYTE</div>
          <div class="panel-body">
            {{#each eaten}}
            <p>
              {{id}}. {{links}}
                <form action="/{{this.links}}?_method=PUT" method="POST">
                <input type="hidden" name="id" value="{{this.links}}">
                </form>
            </p>
            {{/each }}
            <li>{{this.links}}</li>

          </div>
        </div>
      </div>
    </div>

